{#
/**
 * @file
 * Default theme implementation to display property list.
 *
 * Available variables:
 * - properties: Array of properties returned by API
 * - pager: The pager.
 * - empty: The content to display if there are no rows.
 *
 * @see template_preprocess_property_list
 *
 * @ingroup themeable
 */
#}

<div {{ attributes.addClass('properties') }}>
  {% if properties %}
    <ul>
      {% for property in properties %}
        {{ property }}
      {% endfor %}
    </ul>
    {{ pager }}
  {% else %}
    {{ empty }}
  {% endif %}
</div>
